.accueil{
    background-color: var(--white);
}

/* Carroussel */
.carroussel {
    margin-bottom: 30px;
    top: 238px;
    display: flex;
    overflow-x: scroll ;
    padding: 3rem;
    gap: 3rem;
}
.carroussel__pageimg {
    width: 285px;
    height: 285px;
    margin-left: auto;
    margin-right: auto
}

.carroussel__page {
    display: inline;
}

.carroussel__title,
.carroussel__text{
    text-align: center;
}

.carroussel__title{
    color: var(--main);
}

.carroussel__text{
    color: var(--darker);
}