h1{

}

h2{

}

h3 {

}

h4{

}

p {
    font-family: var(--font-basic);
    font-size: var(--body);
}

button1 {

}

button2 {

}

littlebutton{
    font-family: var(--font-basic);
    font-size: var(--little-button);
}