:root {
/* Color styles */
--white: #FAFAFA;
--lighter: #C595ED;
--main: #6C11A9;
--darker: #3F1B63;
--black: #1C1C1C;
--yellow: #FECE2F;

--font-basic:'Gentium Basic', sans-serif;
--font-bold:'Gentium Basic','Gentium Basic 700';


/* Text-size styles */
/* base size: body-1-réel (14px) */

--h1: 2rem;
--h2: 1.6rem;
--h3: 1.1rem;
--h4: 0.9rem;
--body: 1rem;
--button-1: 1.23rem;
--button-2: 0.8rem;
--little-button: 0.7rem;
}
