.footer {
    background-color: var(--black);
    border-radius: 15px 15px 0 0; 
    color: var(--white);
}

.footer__part1 {
    display: inline-flex;
    gap: 0.5rem;
}

.footer__link1{
    display: inline-block;
    color: var(--white);
    
}
.footer__link1:hover{
    color: var(--yellow);
}
