.header {
    top: 0%;
    left: 0%;
    right: 0%;
    width: 100%;
    z-index: auto;
    display: flex;
    gap: 80%;
}

.header__logoimg {
    width: 6.9rem;
    height: 2.5rem;
    position: absolute;
    top: 30px;
    left: 30px;
}



