
/* icone menu*/

.nav-toggle {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.nav-toggle-bar {
    content: "";
    background-color: var(--main);
    width: 100%;
    height: 2px;
    position: absolute;
    right: 0;
    transition: all .4s ease-in-out;
}

.nav-toggle-bar::before,
.nav-toggle-bar::after{
    content: "";
    background-color: var(--main);
    width: 100%;
    height: 2px;
    position: absolute;
    right: 0;
    transition: all .4s ease-in-out;
}

.nav-toggle-bar::before{
    top: -10px;
}

.nav-toggle-bar::after{
    top: 10px;
}

.menu-open .nav-toggle-bar{
    transform: rotate(135deg);
    background-color: var(--white);
}

.menu-open .nav-toggle-bar::before,
.menu-open .nav-toggle-bar::after{
    transform: rotate(90deg);
    background-color: var(--white);
    top: 0;
}


/* menu */

.menu{
    background-color: var(--main);
    position: absolute;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100vw);
    transition: all 2s;
    z-index: 1;
}

.menu-open .menu{
    transform: translateX(0);
}

.menu-open,
.menu-open body{
    overflow: hidden;
}


.menu__list{
    list-style: none;
    margin: 0;
    padding: 12;
    vertical-align: center;
}

.menu__link1,
.menu__link2,
.menu__link3 {
    margin-bottom: 30px;
    transform: translateX(30px);
    color: var(--white);
    text-decoration: none;
}

.menu__link2{
    text-decoration: underline;
}



.menu-open menu li:nth-child(n+1) { transition-delay: .35; } 
.menu-open menu li:nth-child(n+2) { transition-delay: .35s; } 
.menu-open menu li:nth-child(n+3) { transition-delay: .4s; } 
.menu-open menu li:nth-child(n+4) { transition-delay: .45s; } 
.menu-open menu li:nth-child(n+5) { transition-delay: .5s; }