.menu-button {
    all: initial;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.nav-toggle-bar,
.nav-toggle-bar::before,
.nav-toggle-bar::after{
    content: "";
    background-color: var(--main);
    width: 100%;
    height: 2px;
    position: absolute;
    right: 0;
    transition: all .4s ease-in-out;
}

.nav-toggle-bar::before{
    top: -10px;
}

.nav-toggle-bar::after{
    top: 10px;
}

.menu-button:checked .nav-toggle-bar{
    transform: rotate(135deg);
    background-color: var(--white);
}

.menu-button:checked .nav-toggle-bar::before,
.menu-button:checked .nav-toggle-bar::after{
    transform: rotate(90deg);
    background-color: var(--white);
    top: 0;
}


.menu{
    background-color: var(--main);
    position: absolute;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    transform: translateX(100vw);
    transition: all 2s;
    z-index: 1;
    text-align: end;
    box-shadow: -5px 0 10px var(--darker);
}

.menu-button:checked .menu{
    transform: translateX(0);
    opacity: 1;
}


.menu-button:checked+menu{
    display: block;
}

.menu__list{
    list-style: none;
    margin: 20px;
    padding: 12;
    vertical-align: center;

}

.menu__link1,
.menu__link2,
.menu__link3 {
    margin-bottom: 30px;
    transform: translateX(30px);
    color: var(--white);
    text-decoration: none;
}

.menu__link2{
    text-decoration: underline;
}



.menu__part3{
    display: flex;
    gap: 10%;
}
