/* Général*/
.article{
    background-color: var(--main);
}

.article__landing{
    display: block;
}

.landing__img-couverture{
    position: relative;
    margin-top: -75px;
    width: 100%;
    inset: 0;
    z-index: 0;
}

.landing__h1{
    position: relative;
    text-align: center;
    bottom: 7rem;
    background-color: var(--main);
    color: var(--white);
    padding: 20% 10%;
    right: 0;
    left: 0;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    box-shadow:0px -5px 10px var(--darker);
    line-height: 250%;
}

.landing__chevrondown{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.article h2,.article h3,.article h4,.article p {
    color: var(--white);
    margin-left: 22px;
    margin-right: 22px;
}

.img{
    width: 335px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

figcaption{
    color: var(--white);
    text-align: center;
    font-family: var(--font-basic);
    font-size: var(--body);
    font-style: italic;
    font-variant: small-caps;
}

.article h3{
    margin-top: 120px;
    margin-bottom: 20px;
}

.article h4{
    margin-top: 60px;
    margin-bottom: 10px;
}

.article__suivant{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 120px;
}

.suivant__text{
    text-align: center;
}

.suivant__bouton{
    display: inline-block;
    background-color: var(--lighter);
    border-radius: 10px;
    border: 0;
    padding: 6px 30px;
    box-shadow:0px 5px 10px var(--darker)
}

.suivant__bouton littlebutton{
    text-decoration: underline;
}


/* Bodhgaya*/
.article__frise {
    background-color: var(--darker);
    padding: 5% 0;
    margin-top: 120px;
    border-radius: 25px;
}
.article__frise h3{
    margin-top: 20px;
}
.frise {
    padding-top: 10px;
    display: flex;
    overflow-x: scroll;
    gap: 4rem;
    height: 42rem;
}

.frise__img{
    width: 153px;
}

.frise__flechedroite{
    width: 24px;
}

.frise__souspart1{
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    align-items: center;
    justify-content: space-between;
}

.frise__souspart1 h4{
    margin-top: 10px;
}
.frise__souspart1 p{
    margin: 5px 22px;
}

.frise__souspart2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* Siddartha */
.article__extrait{
    background-color: var(--darker);
    border-radius: 20px;
    padding: 40px 0;
}

.article__extrait h3{
    margin: inherit;
    margin-left: 22px;
}

.article__extrait a {
    color: var(--yellow);
}

.article__textavextrait{
    margin-bottom: 120px;
}
/* Trajectoire */
.article__link{
    color: var(--yellow);
}
video{
    width: 335px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 35px;
}

/* Forrest Gump */
.article__carrousselfilm{
    display: flex;
    overflow-x: scroll;
    padding-right: 22px;
    padding-left: 22px;
}

blockquote{
    color: var(--white);
    text-transform: uppercase;
    padding-top: 10%;
}
/* Positivité Toxique */


/* Nouvelles technologies */