.article{
    background-color: var(--main);
}

.article__landing{
    display: block;
}

.landing__img-couverture{
    position: relative;
    margin-top: -75px;
    width: 100%;
    inset: 0;
    z-index: 0;
}

.landing__h1{
    position: relative;
    bottom: 7rem;
    text-align: center;
    background-color: var(--main);
    color: var(--white);
    padding: 20% 10%;
    right: 0;
    left: 0;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    box-shadow:0px -5px 10px var(--darker);
    line-height: 250%;
}



.landing__chevrondown{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.article h2,.article h3,.article h4,.article p {
    color: var(--white);
    margin-left: 22px;
    margin-right: 22px;
}

.img{
    width: 335px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.frise {
    background-color: var(--darker);
    padding-top: 10px;
    display: flex;
    overflow-x: scroll;
    gap: 3rem;
}

.frise__img{
    width: 153px;
}

.frise__flechedroite{
    width: 24px;
}

.frise__part{
    columns: 2;
    
}

.article h3{
    padding-top: 120px;
    padding-bottom: 20px;
}

.article__suivant{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 120px;
}

.suivant__text{
    text-align: center;
}

.suivant__bouton{
    display: inline-block;
    background-color: var(--lighter);
    border-radius: 10px;
    border: 0;
    padding: 6px 30px;
    box-shadow:0px 5px 10px var(--darker)
}

.suivant__bouton littlebutton{
    text-decoration: underline;
}