.contact {
    display: inline-flex;
}

.contact__initial{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    background-color: var(--yellow);
    text-align: center;
}

.contact__nom {

}